parameters:
	ignoreErrors:
		-
			message: "#^Class Collection\\\\FirstClassCollection implements generic interface IteratorAggregate but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Collection/Collection.php
